/* Background */
.page-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #003a8c, #004cbf, #0066ff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* White Card */
.login-card {
  width: 520px;
  background: white;
  padding: 45px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.15);
  text-align: center;
}

/* Logo */
.login-logo {
  width: 150px;
  margin-bottom: 10px;
}

/* Header Text */
.title {
  font-size: 42px;
  font-weight: 700;
  color: #083b90;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 17px;
  color: #6c6c6c;
  margin-bottom: 20px;
}

/* Error Box */
.error-box {
  background: #ffd7d7;
  color: #c30000;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 18px;
  font-size: 15px;
}

/* Input Boxes */
.input-box {
  width: 100%;
  padding: 16px 18px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #f1f6ff;
  font-size: 16px;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 16px;
  background: #0047b3;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.login-btn:hover {
  background: #003a99;
}

/* OTP + Forgot Links */
.link-row {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.simple-link {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #0047b3;
  text-decoration: underline;
}

.simple-link:hover {
  color: #003a99;
}

/* Footer */
.footer-text {
  margin-top: 30px;
  color: #133d75;
}

.footer-text p {
  color: #333;
  margin-top: 4px;
}
