.form-box {
  width: 380px;
  background: #fff;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
}

.form-box h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
}

.form-text {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  background: #f3f7ff;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: #005ad5;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
}

.back-link {
  text-align: center;
  margin-top: 12px;
}

.back-link a {
  color: #005ad5;
  font-weight: 500;
}
