.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f9ff;
}

.login-card {
  background: #ffffff;
  padding: 40px;
  width: 380px;
  border-radius: 16px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.login-logo {
  width: 140px;
  margin-bottom: 20px;
}

.error-text {
  color: red;
  margin-bottom: 12px;
}

.switch-link {
  color: #004aad;
  cursor: pointer;
  margin-top: 12px;
  text-decoration: underline;
}
