/* MAIN WRAPPER */
.login-wrapper {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.left-panel {
  width: 50%;
  background: linear-gradient(145deg, #e31e24, #b8171f);
  color: white;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.25;
}

.subtext {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  max-width: 480px;
}

.illustration {
  width: 420px;
  margin-top: 55px;
  animation: fadeUp 0.7s ease-in-out;
}

/* RIGHT SIDE */
.right-panel {
  width: 50%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.login-logo {
  width: 200px;
  margin-bottom: 15px;
}

.login-heading {
  font-size: 32px;
  font-weight: 700;
  margin: 15px 0 28px;
  color: #003da5;
}

/* TABS */
.tab-row {
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
}

.tab,
.active-tab {
  padding: 12px 30px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  border: 2px solid #003da5;
  transition: all 0.3s ease;
}

/* Default Tab */
.tab {
  background: #e8efff;
  color: #003da5;
}

/* Selected Tab */
.active-tab {
  background: #003da5;
  color: white;
  border-color: #003da5;
}

.tab:hover {
  background: #dce8ff;
}

/* INPUT BOX */
.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 420px;
  border: 1px solid #c8c8c8;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 20px;
  background: #f7f9ff;
}

.icon {
  margin-right: 12px;
  font-size: 20px;
}

.input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  background: none;
}

/* LOGIN TYPE */
.login-type {
  display: flex;
  gap: 45px;
  margin: 8px 0 18px;
  font-size: 18px;
  font-weight: 600;
  color: #003da5;
}

/* BUTTON */
.login-btn {
  width: 100%;
  max-width: 420px;
  padding: 16px;
  background: #003da5;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s ease;
  box-shadow: 0px 6px 14px rgba(0, 36, 110, 0.25);
}

.login-btn:hover {
  background: #002a75;
}

/* LINKS */
.links-row {
  margin-top: 14px;
}

.links-row a {
  color: #003da5;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}

/* ANIMATIONS */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
  }
  .left-panel,
  .right-panel {
    width: 100%;
    height: auto;
  }
  .illustration {
    width: 300px;
    margin: 30px 0;
  }
}
