/* MAIN WRAPPER */
.login-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* LEFT SIDE */
.left-panel {
  width: 50%;
  background: linear-gradient(145deg, #e31e24, #b8171f);
  color: white;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.25;
}

.subtext {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 400;
  max-width: 450px;
}

.illustration {
  width: 360px;
  margin-top: 35px;
  align-self: center;
  animation: fadeUp 0.7s ease-in-out;
}

/* RIGHT SIDE */
.right-panel {
  width: 50%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px;
}

.login-logo {
  width: 180px;
  margin-bottom: 10px;
}

.login-heading {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0 18px;
  color: #003da5;
}

/* TABS */
.tab-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  margin-bottom: 15px;
}

.tab, .active-tab {
  border: none;
  background: none;
  padding: 8px 15px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  color: #6b6b6b;
}

.active-tab {
  border-bottom: 3px solid #003da5;
  color: #003da5;
}

/* INPUT FIELD */
.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 420px;
  border: 1px solid #c8c8c8;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 14px;
  background: #f7f9ff;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

.input-box input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
}

/* LOGIN TYPE */
.login-type {
  display: flex;
  gap: 35px;
  margin: 5px 0 15px;
  font-size: 16px;
  font-weight: 600;
  color: #003da5;
}

/* BUTTON */
.login-btn {
  width: 100%;
  max-width: 420px;
  padding: 14px;
  background: #003da5;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
  box-shadow: 0px 6px 14px rgba(0, 36, 110, 0.25);
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #002a75;
}

/* LINKS */
.links-row {
  margin-top: 10px;
}

.links-row a {
  color: #003da5;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}

/* ANIMATION */
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
    height: auto;
  }
  .left-panel, .right-panel {
    width: 100%;
    padding: 30px;
  }
  .illustration {
    width: 260px;
    margin-top: 25px;
  }
}
