/* MAIN WRAPPER */
.login-wrapper {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.left-panel {
  width: 50%;
  background: linear-gradient(145deg, #e31e24, #b8171f);
  color: white;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.25;
}

.subtext {
  margin-top: 20px;
  font-size: 20px;
  max-width: 480px;
}

.illustration {
  width: 420px;
  margin-top: 55px;
}

/* RIGHT SIDE */
.right-panel {
  width: 50%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.login-logo {
  width: 200px;
  margin-bottom: 15px;
}

.login-heading {
  font-size: 32px;
  font-weight: 700;
  color: #003da5;
  margin-bottom: 18px;
}

/* TABS */
.tab-row {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 420px;
  gap: 30px;
  margin: 10px 0 25px;
  padding: 10px 0;
  border-bottom: 1px solid #d6d6d6;
}

.tab, .active-tab {
  background: none;
  border: none;
  padding: 10px 12px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #6b6b6b;
}

.active-tab {
  color: #003da5;
  border-bottom: 3px solid #003da5;
}

/* INPUT BOX */
.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 420px;
  border: 1px solid #c8c8c8;
  background: #f7f9ff;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 18px;
}

.icon {
  margin-right: 12px;
  font-size: 20px;
}

.input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
}

/* LOGIN TYPE SWITCH */
.login-type {
  display: flex;
  gap: 45px;
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0 18px;
  color: #003da5;
}

/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  background: #003da5;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.2s ease;
}

.login-btn:hover {
  background: #001e63;
}

/* LINKS */
.links-row {
  margin-top: 14px;
}

.links-row a {
  text-decoration: none;
  color: #003da5;
  font-size: 16px;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
  }
  .left-panel, .right-panel {
    width: 100%;
  }
}
