/* MAIN LAYOUT */
.login-container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* LEFT SIDE */
.left-section {
  background: #7d0000;
  padding: 40px 60px;
  color: white;
}

.main-heading {
  font-size: 44px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}

.sub-heading {
  color: #000000;
  font-size: 22px;
  margin-bottom: 30px;
}

.audit-image {
  width: 85%;
  margin-top: 20px;
  opacity: 0.88;
}

/* RIGHT SIDE */
.right-section {
  background: #f7f9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.company-logo {
  width: 210px;
  margin-bottom: 10px;
}

.login-box {
  width: 82%;
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.signin-heading {
  text-align: center;
  color: #024acb;
  margin-bottom: 20px;
}

/* TAB BUTTONS */
.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.tab-buttons button {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  background: #e1e8ff;
  color: #024acb;
}

.tab-buttons button.active {
  background: #024acb;
  color: white;
}

/* INPUT FIELD */
.input-field {
  width: 100%;
  padding: 12px 15px;
  margin: 12px 0;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  background: #eef4ff;
  font-size: 15px;
}

/* AUTH TYPE */
.auth-type {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}

/* FORGOT LINK */
.forgot-link {
  text-align: right;
  margin-bottom: 15px;
}

.forgot-link a {
  color: #1357e4;
}

/* LOGIN BUTTON */
.login-btn {
  background: #024acb;
  color: white;
  padding: 14px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

/* FOOTER */
.footer {
  width: 100%;
  background: #ffffff;
  padding: 12px 40px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ddd;
}

.footer-right a {
  margin: 0 8px;
  color: #0056d6;
  text-decoration: none;
}

.footer-right span {
  color: #999;
}
