/* MAIN WRAPPER */
.login-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  overflow: hidden;
}

/* LEFT SIDE */
.left-section {
  background: #7b0000;
  padding: 60px 50px;
  color: #fff;
}

.main-heading {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #f8f8f8;
}

.audit-image {
  width: 90%;
  margin-top: 20px;
  opacity: 0.92;
  border-radius: 12px;
}

/* RIGHT SIDE */
.right-section {
  background: #f8faff;
  text-align: center;
  padding: 40px;
  overflow-y: auto;
}

.company-logo {
  width: 180px;
  margin-bottom: 10px;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
  width: 80%;
  margin: 0 auto;
}

.login-title {
  font-size: 26px;
  color: #0057d8;
  font-weight: 700;
  margin-bottom: 25px;
}

/* TABS */
.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.tab-buttons button {
  padding: 10px 28px;
  border-radius: 25px;
  border: none;
  background: #e4ecff;
  color: #0047b3;
  font-weight: 600;
  cursor: pointer;
}

.tab-buttons .active {
  background: #0057d8;
  color: white;
}

/* INPUT FIELD */
.input-field {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border-radius: 8px;
  background: #e8f0ff;
  border: 1px solid #c9d9f8;
  font-size: 16px;
}

/* PASSWORD / OTP BOX */
.auth-type {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 16px;
}

.forgot-link {
  margin-top: 10px;
  text-align: right;
}

.forgot-link a {
  font-size: 14px;
  font-weight: 600;
  color: #0057d8;
}

/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  padding: 14px;
  background: #0057d8;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
}

/* FOOTER FULL WIDTH BAR */
.footer-bar {
  width: 100%;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;

  padding: 12px 35px;
  border-top: 1px solid #dcdcdc;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  color: #333;
  z-index: 999;
}

.footer-bar-right a {
  margin-left: 22px;
  text-decoration: none;
  color: #0057d8;
  font-weight: 500;
}

.footer-bar-right a:hover {
  text-decoration: underline;
}
