.login-wrapper {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.left-panel {
  width: 50%;
  background: #e31e24; /* EDME Premium Red */
  color: white;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.25;
}

.subtext {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.illustration {
  width: 380px;
  margin-top: 60px;
}

/* RIGHT SIDE */
.right-panel {
  width: 50%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.login-logo {
  width: 200px;
  margin-bottom: 15px;
}

.login-heading {
  font-size: 30px;
  font-weight: 700;
  margin: 18px 0 25px;
  color: #003da5; /* Premium Royal Blue */
}

/* TABS */
.tab-row {
  display: flex;
  gap: 25px;
  margin-bottom: 28px;
}

.tab,
.active-tab {
  border: none;
  background: none;
  padding: 8px 20px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  color: #6b6b6b;
}

.active-tab {
  border-bottom: 3px solid #003da5; /* EDME Royal Blue */
  color: #003da5;
}

/* INPUT BOX */
.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 420px;
  border: 1px solid #c8c8c8;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 20px;
  background: #f7f9ff;
}

.icon {
  margin-right: 12px;
  font-size: 18px;
}

.input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: none;
}

/* LOGIN TYPE OPTIONS */
.login-type {
  display: flex;
  gap: 40px;
  margin: 8px 0 18px;
  font-size: 18px;
  font-weight: 500;
  color: #003da5;
}

/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  max-width: 420px;
  padding: 16px;
  background: #003da5; /* Royal Blue */
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #001f63;
}

/* LINKS */
.links-row {
  margin-top: 14px;
}

.links-row a {
  color: #003da5;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}
