html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}

/* MAIN */
.login-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* LEFT */
.left-section {
  width: 55%;
  background: #8b0000;
  padding: 40px 60px;
  color: white;
}

.main-heading {
  font-size: 36px;
  margin-bottom: 10px;
}

.sub-heading {
  color: #000;
  font-size: 15px;
  margin-bottom: 20px;
}

.audit-image {
  width: 65%;
  max-width: 360px;
}

/* RIGHT */
.right-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-logo {
  width: 130px;
  margin-bottom: 10px;
}

/* LOGIN CARD */
.login-box {
  width: 380px;
  padding: 22px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.08);
}

.signin-heading {
  font-size: 20px;
  margin-bottom: 14px;
  text-align: center;
}

/* TABS */
.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.tab-buttons button {
  padding: 6px 16px;
  margin: 0 6px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.tab-buttons .active {
  background: #0b5ed7;
  color: white;
}

/* INPUTS */
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* AUTH */
.auth-type {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 8px;
}

/* BUTTONS */
.login-btn, .otp-btn {
  width: 100%;
  padding: 10px;
  background: #0b5ed7;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.otp-btn {
  margin-bottom: 8px;
}

/* ERROR */
.error-msg {
  color: red;
  font-size: 13px;
  text-align: center;
  margin-bottom: 8px;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 40px;
  background: white;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  border-top: 1px solid #ddd;
}

.footer a {
  text-decoration: none;
  color: #0b5ed7;
}
