/* GRID LAYOUT - PERFECT LEFT/RIGHT */
.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  overflow: hidden;
}

/* LEFT SECTION */
.left-section {
  background: #7a0000; 
  color: white;
  padding: 60px 50px 0 50px;
  display: flex;
  flex-direction: column;
}

.left-title {
  font-size: 46px;
  font-weight: 800;
  color: #ffffff !important;
  margin-bottom: 10px;
  line-height: 1.15;
}

.left-subtitle {
  color: #000000 !important;
  font-size: 20px;
  margin-bottom: 20px;
}

.audit-image {
  width: 90%;
  margin-top: 10px;
  object-fit: contain;
  opacity: 0.95;
  align-self: center;
}

/* RIGHT SECTION */
.right-section {
  background: #f3f5ff;
  padding: 25px 40px;
  display: flex;
  flex-direction: column;
}

.company-logo {
  width: 170px;
  margin: 5px auto 20px auto;
}

/* LOGIN BOX */
.login-box {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
}

.login-title {
  text-align: center;
  color: #0052cc;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* TAB BUTTONS */
.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 15px;
}

.tab-buttons button {
  padding: 10px 22px;
  background: #d8d8d8;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.tab-buttons .tab-active {
  background: #0052cc;
  color: white;
}

/* INPUTS */
.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1.5px solid #cdd3ea;
}

/* AUTH RADIO */
.auth-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.forgot-link {
  text-align: right;
  margin-bottom: 15px;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: #0052cc;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* FOOTER FIXED */
.footer {
  margin-top: auto;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

.footer-links a {
  color: #00449e;
  margin: 0 6px;
}
