import React from "react";
import AuthLayout from "../components/AuthLayout";
import logo from "../assets/logo.png";

const OtpLogin = () => {
  return (
    <AuthLayout>
      <img src={logo} className="company-logo" alt="logo" />

      <div className="login-box">
        <h2>OTP Login</h2>

        <label className="label-text">Enter your mobile number</label>
        <input type="number" className="input-field" placeholder="Enter mobile number" />

        <button className="login-btn">Send OTP</button>

        <label className="label-text">Enter OTP</label>
        <input type="number" className="input-field" placeholder="000000" />

        <button className="login-btn">Verify & Login</button>

        <div className="forgot-link">
          <a href="/">Back to Sign In</a>
        </div>
      </div>
    </AuthLayout>
  );
};

export default OtpLogin;
